.login-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 300px;
  &-margin {
    margin-bottom: 16px;
  }
  &-forgot {
    float: right;
  }
  &-button {
    width: 100%;
  }
  &-register {
    width: 100%;
    height: 32px;
    display: inline-block;
    text-align: right;
    line-height: 32px;
  }
}
